@using StudentReports.DTOs
@inherits ViewPage<DataReqDto>

@{
    ViewBag.Title = "Some Data";
}

<div class="row">
    <div class="panel panel-default">
        <span> @Model.SomeProp </span>
    </div>
</div>